output{
    display: block;
    border: solid 1px var(--cBrightGray);
    border-radius: 5px;
    padding: 10px;
    color: var(--cDarkGray);
    min-height: 26px;
    word-break: break-all;
    max-height: 300px;
    overflow-y: scroll;
}